*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(246, 248, 249);
}
.container{
    width: 80%;
    margin-inline: auto;
    display: flex;
    gap: 15px;
    margin-top: 1%;
    height: 80vh;
    text-align: center;
}
.left{
    width: 33%;
    height: 100%;
    background-color: white;
}
.middle{
    width: 33%;
    background-color: white;
}
.right{
    width: 33%;
    background-color: white;
}
.header{
    height:20%;
    color: whitesmoke;
    padding-inline: auto;
    padding: 40px;
}
.left .header{
    background-color: black;
}
.middle .header{
    background-color: rgb(112, 110, 110);
}
.right .header{
    background-color: black;
}
/* .card{
    box-shadow: 4px 2px 4px 2px #b5b2b2;
    text-align: center;
} */
section{
    height: 60%;
}
ul li{
    list-style: none;
    font-weight: bold;
    padding: 10px;
    font-size: 0.8rem;
}
.price{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 20px ;
    padding-bottom: 0;
}
.period{
    font-size: 0.5rem;
}
.footer{
    background-color: rgb(233, 232, 231);
    margin-top: 1px;
    height:20%;
    position: relative;
}
button 
{
    background-color: rgb(45, 189, 45);
    margin-inline: auto;
    margin-top: 30px;
   padding: 1em;
    color: white;
    border: none;
}