*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:rgba(245, 245, 245, 0.838);
}
.container{
    padding: 80px 0;
}

.row{
    /* margin: 0 130px; */
    padding: 0 40px 80px;
    gap: 30px;
    justify-content: center;
    /* background-color: rgba(137, 43, 226, 0.438); */
}
.col-5 img{
   height: 100px;
   margin-top: 90px ;
   margin-left: -28px;
   border: 0;
   max-width: 90%;
   min-width: 50%;
}

.col-4 .container{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 50px 0 30px 0;
    padding: 16px;
    min-width: 50%;
    box-shadow: 1px 1px 4px 4px #beb7b748;
}
.col-4 .container input{
    width: 80%;
    padding: 12px;
    border-radius: 2px #ccc;
    display: inline-block;
    margin-bottom: 14px;
    font-size: 1.05rem;
}
.col-4 .btn{
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.6rem 0.4rem;
    border-radius: 5px;
}
.create-button 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-button .btn{
    font-size:1.05rem;
    font-weight: 700;
    border: none;
    padding: 10px 16px;
    margin: 10px 0;
}
.col-4 p{
     text-align: center;
     margin-top: 15px;
}
.col-4 p .createpage{
    text-decoration: none;
    font-weight: 600;
    color: black;

}
footer{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding: 0 15%;
}
.footer{
    /* height: 120px; */
    text-align:start;
    padding: 0 40px;
}
.footer p{
    margin-top: 20px;
    color: rgba(56, 55, 55, 0.781);
    font-size: 0.75rem;
}
.footer ul li a{
    text-decoration: none;
    color: rgba(56, 55, 55, 0.781);
    font-size: 0.75rem;

}
.footer ul li{
    border: none;
}
.list-group{
    flex-wrap: wrap;
    line-height: 1.2em;
}
.list-group-item{
    padding: 0 1.25rem 0 0;
}
.footer p,i{
    margin-top: 20px;
}
.plus-button{
    border: solid 0.5px rgba(0, 0, 0, 0.399);
    color: black;
    background-color: #eee;
    padding: 0 8px;
    margin: 0 10px;
}
@media screen and (max-width: 900px) {
    .col-4 {
        width: 100%;
    }

    .col-5 {
        width: 100%;
    }

    footer {
        padding-block: 10px;
        padding-inline: 10px;
    }

    .footer {
        padding: 0 20px;
    }

    .container {
        padding: 10px 0 100px;
        max-width: 600px;
    }

    .col-5 img {
        height: 100px;
        margin-top: 50px;
        border: 0;
        /* max-width: 90%;
        min-width: 50%; */
    }

    .row {
        padding: 20px;
    }
}